/** Fonts**/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto+Condensed:ital,wght@1,700&display=swap');

/** General Settings **/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --primary-font:'Raleway', sans-serif;
    --secondary-font:'Roboto Condensed', sans-serif;
    --primary-color:#006AA7;
    --secondary-color:#FFCD00;
    --light-color:#FFCD00;
    --dark-color:#006AA7;
}

html{
    font-size: 10px;
    color: var(--dark-color);
    font-family: var(--primary-font);
    --scroll-behavior: smooth;

}

section{
    padding-top: 16rem;
    padding-bottom: 8rem;
    min-height: 100vh;

}

p{
    font-size: 1.4rem;
    line-height: 2.5rem;
}

h1,h2,h3,h4{
    color: var(--secondary-color);
    font-family: var(--primary-font);
}

button{
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a{
    text-decoration: none;
    font-family: var(--primary-font);

}

img{
    width: 100%;
    max-width: 100%;  
}

ul{
    list-style: none;
}

.container{
    width: 100%;
    max-width: 114rem;
    margin: 0 auto;
}

/** Hero Section **/

#hero{
    width: 100%;
    background-color: var(--primary-color);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    width: 90%;
}

.main-title{
    font-family: var(--primary-font);
    font-size: 8rem;
    font-weight: 100;
    letter-spacing: 2rem;
    padding-bottom: 2rem;
}

.main-slogan{
    color: var(--light-color);
    font-size: 1.6rem;
    letter-spacing: 2.4rem;
    padding-bottom: 2rem;
}